<mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]='email'>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" (click)="siguiente()">Login</button>
    </form>
  </mat-card>